.my-bg-primary{
    background-color:#16a085;
}

.my-text-primary{
    color:#16a085;
}

.my-btn-primary{
    background-color:#16a085;
    color: white;
}

.my-btn-primary:hover{
    background-color:#0c846c;
    color: white;
}

.my-link-primary{
    color:rgba(255,255,255,.8)!important;
}

.my-link-primary:hover{
    color:black!important;
}

.my-link-primary.active{
    color: white!important;
}

.my-link-primary.active:hover{
    color:black!important;
}

.detail-profile-photo {
    width: 13rem; 
    height: 16rem; 
    object-fit:cover; 
    object-position:center;
}

.img-ktp {
    height: 15rem;
    width: 26rem;
    object-fit:contain; 
    object-position:center;
}